<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Developers" value="A, B, C, D, E"/>
    <add key="OutputTemplate" value="{0}: {1}->{2}->{3}->{4}->{5}->{1}"/>
    <add key="WikiPage" value="CodeReviewPlan"/>
  </appSettings>
  <connectionStrings>
    <add name="TracDatabase" connectionString="Data Source=trac.db" providerName="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"/>
  </connectionStrings>
</configuration>
